pulumi>=3.133.0,<4
pulumi-datarobot>=0.2.5,<0.3

datarobot>=3.5.2,<3.6
datarobot-predict>=1.9.6,<1.10
datarobotx-idp>=0.2.11,<0.3

pydantic>=2.9.2,<2.10
pydantic-settings>=2.5.2,<2.6
eval_type_backport>=0.2.0,<0.3

# Constrained by datarobot-drum
pandas>=2.0.3,<3

streamlit>=1.39.0,<2
joblib>=1.4.2,<2
openai>=1.47.1,<2

jupyterlab>=4.2.5,<5
papermill>=2.6.0,<3

babel>=2.16,<3

pytest==8.0.2
mypy==1.11.2
types-PyYAML==6.0.12.20240917
ruff==0.6.9
